{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks%}

{% block title %}Manage Staff{% endblock %}
{% block heading %}Manage Staff{% endblock %}

{% block content %}

{% if request.user.is_superuser %}

<dialog id="create_task_modal" class="modal">
    <div class="modal-box w-6/12 max-w-5xl">
        <div class="modal-action mt-0 flex items-center justify-between mb-8">
            <h3 class="text-2xl font-bold">Create Staff Account</h3>
            <form method="dialog">
                <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </form>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div>
                    <label for="email">Email:</label>
                    {{ user_form.email|add_class:"input input-bordered w-full max-w-xs"|attr:"placeholder:Email"}}
                </div>
                <div>
                    <label for="username">Username:</label>
                    {{ user_form.username|add_class:"input input-bordered w-full max-w-xs"|attr:"placeholder:Username" }}
                </div>
                <div>
                    <label for="password1">Password:</label>
                    {{ user_form.password1|add_class:"input input-bordered w-full max-w-xs"|attr:"placeholder:Password" }}
                </div>
                <div>
                    <label for="password2">Confirm Password:</label>
                    {{ user_form.password2|add_class:"input input-bordered w-full max-w-xs"|attr:"placeholder:Confirm Password" }}
                </div>
                <div>
                    <label for="role">Role:</label>
                    {{ staff_form.role|add_class:"input input-bordered w-full max-w-xs" }}
                </div>
                <div>
                    {% if user_form.errors %}
                    <p class="text-sm text-red-500 mt-1">
                        {{ user_form.non_field_errors|striptags }}
                    </p>
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="flex justify-end">
                <button class="btn btn-primary text-white" type="submit">Create Staff</button>
            </div>
        </form>
    </div>
  </dialog>


<div class="flex items-center justify-between mb-4">
    <button
       class="btn btn-primary text-white"
     onclick="create_task_modal.showModal()">
        Create Account
    </button>
</div>

<div class="card w-full p-6 bg-base-100 shadow-xl mt-2 max-h-[600px] overflow-y-auto min-h-[300px]">

    <h2>Staff List</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for staff in staff_list %}
                <tr>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if staff_list %}
    <div class="relative overflow-x-auto rounded-lg">
      <table class="table w-full whitespace-no-wrap table-pin-rows table-pin-cols">
        <!-- head -->
        <thead>
          <tr>
            <th class="flex flex-row items-center gap-3">
              <label>
                  <input type="checkbox" class="checkbox select-all" />
              </label>
              Name
            </th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for staff in staff_list %}
          <tr class="border-b border-gray-200 hover:bg-gray-100 whitespace-nowrap night:bg-gray-800 night:text-gray-100">
            <td>{{ staff.username }}</td>
            <td>{{ staff.email }}</td>
            <td>
                <!-- Add action buttons like edit, delete, etc. -->
                <a href="">Edit</a>
                <a href="">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% else %}
    <p class="text-center">Currently have no staff accounts.</p>
{% endif %}

</div>

{% endif %}

{% endblock %}
